<h1 class='index-title'>New Cryptid Form</h1>
<div class='new-form'>
  <%= form_for(@cryptid) do |f| %>
    <div>
      <%= f.label :name, "Give your new cryptid a name (feel free to be creative)" %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :photo, "Have you gotten a photo?" %><br />
      <%= f.file_field :photo %>
    </div>

    <div>
      <%= f.label :description, "What is the history of your cryptid?" %><br />
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.label :region_id, "Region" %><br />
      <%= f.collection_select :region_id, Region.order(:name),:id,:name, include_blank: true %>
    </div>

    <div>
      <%= f.label :category_id, "Category" %><br />
      <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %>
    </div>

    <div class='button-div'>
      <%= f.submit :class => 'submit-button' %>
    </div>
  <% end %>
</div>
