<h1 class='index-title'><%= @cryptid.name %></h1>

<div class='cryptid-container main-box'>
  <div class='cryptid-show-title'>
    <%= @cryptid.category.name %> - <%= @cryptid.region.name %>
  </div>
  <div class='row'>
    <img
      class="cryptid-show-pic"
      src='<%= @cryptid.photo.url %>'
      alt='<%= @cryptid.name %>'
    />
    <p> <%= @cryptid.description %> </p>
  </div>

  <div class='cryptid-sightings row'>
    <h3 class='cryptid-show-title'>Recent Sightings of the <%= @cryptid.name %>:</h3>
    <div id='app' class='react-div'></div>
  </div>

  <% if current_user %>
    <% if current_user == @cryptid.user || current_user.admin? %>
      <br>
      <%= link_to 'Edit', edit_cryptid_path(@cryptid) %>
      <%= link_to 'Delete', cryptid_path(@cryptid), :method => :delete, data: { confirm: 'Are you sure you want to delete this Cryptid?' } %>
    <% end %>
  <% end %>
</div>
