<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Do+Hyeon|Ubuntu">
<head>
  <title>Cryptozoology</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag    "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1 class="header"><a href="/">Cryptozoology</a></h1>
      </li>
    </ul>

    <section class="dropdown menu align-left float-menu">
      <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Regions</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <% @regions.each do |region| %>
          <li> <%= link_to region.name, region %></li>
          <% end %>
        </ul>
    </section>

    <section class="dropdown menu align-left float-menu">
      <a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false">Categories</a>

      <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
        <% @categories.each do |category| %>
        <li> <%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </section>

      <section class="search-field float-menu">
          <%= form_tag("/cryptids", method: "get", class: "search-bar") do %>
            <%= text_field_tag :name, params[:name] %>
            <%= submit_tag 'Search Cryptids', name: nil, class: 'search-button' %>
          <% end %>
      </section>


    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% if current_user.profile_photo.url %>
            <img src='<%= current_user.profile_photo.url %>' alt='Profile Photo' class='profile-photo'/>
          <% end %>
        <%- else -%>
          <li class="dark-teal"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
